# list
It is an important data structure that is in-built in Python. The data is written inside square brackets ([]), and the values are separated by comma(,).

In [2]:
# print a list
v = [1,2,3,4]
print(v)

[1, 2, 3, 4]

In [1]:
# length of list
l = [11,22,33]
len(l)

3

# list predifined  functions
1. list.append(elem) -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
2. list.insert(index, elem) -- inserts the element at the given index, shifting elements to the right.
3. list.extend(list2) adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
4. list.index(elem) -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
5. list.remove(elem) -- searches for the first instance of the given element and removes it (throws ValueError if not present)
6. list.sort() -- sorts the list in place (does not return it). (The sorted() function shown later is preferred.)
7. list.reverse() -- reverses the list in place (does not return it)
8. list.pop(index) -- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()). *italicized text*
9. list.split() -- split elements

# 1. append()

In [7]:
# append
y = ['x','y']
y.append("z")
y

['x', 'y', 'z']

In [5]:
from IPython.lib.display import YouTubeVideo
# append 2 lists
z = ["a","b"]
y = ["c","d"]
z.append(y)
z

['a', 'b', ['c', 'd']]

In [3]:
# append using iteration
l1 = []
for i in range(1,4):
  l1.append(i)
print(l1)  
# append tuple
l1.append((4,5))
l1

[1, 2, 3]

[1, 2, 3, (4, 5)]

# 2. insert()

In [14]:
# insert element in index position
l = ['a','b']
l.insert(1,'c')
l

['a', 'c', 'b']

In [1]:
# insert tuple in list
l = ['y','z']
t = (5,6)
l.insert(1,t)
l

['y', (5, 6), 'z']

# 3.extend()

In [17]:
l2 = [1,2,3]
l2.extend([44,55])
l2

[1, 2, 3, 44, 55]

### difference b/w append() and extend()

In [10]:
# extend()
l = ['a','b']
l.extend(['c','d'])
print(l)
## append()
l = ['a','b']
l.append(['c','d'])
print(l)

['a', 'b', 'c', 'd']
['a', 'b', ['c', 'd']]

# 4.index()

In [10]:
# print index number
a = ["hello","Hi","hru"]
a.index("Hi")

1

In [12]:
# print negative index number
v = [1,2,3,4]
print(v[-1])

4

# access elements in list in the list

In [7]:
L = [['a','c'],['b']]
print(L[0][1])
print(L[1][0])

c
b

# Negative indexing

In [8]:
l = [1,'a','b',2]
print(l[-2])
print(l[-1])

b
2

In [11]:
# print list elements through range
li = [1,2 ,3, 4, 5]
for i in range(5):
    print(li[i])

1
2
3
4
5

# 5.remove()

In [13]:
# remove elements using remove
list = ['sun','mon','tues','wed']
list.remove("tues")
print(list)

['sun', 'mon', 'wed']
d
s

# 6. sort()

In [15]:
lst = [77,100,88, 99]

# sort in decreasing order
my_list = sorted(lst, reverse=True) 
print("decending order")
print(my_list)
# sort in increasing order
my_list = sorted(lst, reverse=False) 
print("assending order")
print(my_list)

decending order
[100, 99, 88, 77]
assending order
[77, 88, 99, 100]

# 7.reverse()

In [22]:
# reverse
l = [1,2,3]
l.reverse()
print(l)
# reverse using slicing operator
l1 = [33,44,11,55]
l1[::-1]
# Accessing Elements in Reversed Order
lst = ['Hello','I','am']

# Printing Elements in Reversed Order
for i in reversed(lst):
    print(i, end = ',')

[3, 2, 1]
am,I,Hello,

# 8.pop()

In [23]:
# removes last item in list using pop()
l = ['s','u','n','d']
print(l.pop())

# pop() also works with an index...
print(l.pop(0))

d
s

# 9.split()

In [25]:
# split elements in a list
s = input("Enter elements:")
lst = s.split()
print('the list is:',lst)

Enter elements:hello how are you
the list is: ['hello', 'how', 'are', 'you']