# syntax of list comprehention
l = [expression for item in list]

list = [expression for item in iterable (if conditional)]

In [ ]:
# nested list comprehension
[]

In [47]:
# Transpose of matrix using list comprehention
matrix = [[1, 2], [3,4], [5,6], [7,8]]
transpose = [[row[i] for row in matrix] for i in range(2)]
transpose

[[1, 3, 5, 7], [2, 4, 6, 8]]

#Filtering Items In a List#

In [58]:
# print names if consists of letter 'a'
l = ["Ash","Charan","Indu","Moli"]
nl = [i for i in l if 'a' in i]
nl

['Charan']

In [59]:
# print words if word count >=4
[x for x in l if len(x)>=4]

['Charan', 'Indu', 'Moli']

In [67]:
# words end with a and having 4+ characters
l = ["Asha","indu","charan","Meghana","chandan"]
n_l = [i for i in l if len(i)>4 and i.endswith('an')]
n_l

['charan', 'chandan']

#Transforming Items in a List#

In [60]:
# replace a letter with aa
m = ["Mano","sumo","Ragcha"]
l = [x.replace('a','aa') for x in m ]
l

['Maano', 'sumo', 'Raagchaa']

In [65]:
# caetalize and find length of words
l = ["Hello","hi","hru"]
nl = [x.capitalize() for x in l]
print(nl)
l_w = [len(x) for x in l]
print(l_w)

['Hello', 'Hi', 'Hru']
[5, 2, 3]

# Filtering and Transformation, Applied Together#

In [70]:
#filter AND transform at the same time
# convert into upper case based on condition if a word consists of "do" convert that words into upper 
l = ["dont","cont","wont","doing"]
n_l = [x.upper() for x in l if 'do' in x ]
n_l

['DONT', 'DOING']

In [77]:
# add some word based on checking by length
n = ["do","go","cant","donot","but"]
n_l = [i+'ing' for i in n if len(i)<=2]
n_l

['doing', 'going']

In [79]:
# print lenth of each word based on condition
n = ["do","go","cant","donot","but"]
n_l = [(x,len(x)) for x in n if len(x)<=2]
n_l

[('do', 2), ('go', 2)]

# state names

In [99]:
states = [
'Adilabad','Bhadradri Kothagudem','Hanumakonda','Hyderabad','Jagtial','Jangaon','Jayashankar Bhupalpally','Jogulamba Gadwal','Kamareddy','Karimnagar',
'Khammam','Kumuram Bheem','Mahabubabad','Mahabubnagar','Mancherial','Medak','Medchal-Malkajgiri','Mulugu','Nagarkurnool','Nalgonda','Narayanpet',
'Nirmal','Nizamabad','Peddapalli','Rajanna Sircilla','Rangareddy','Sangareddy','Siddipet','Suryapet','Vikarabad','Wanaparthy','Warangal','Yadadri Bhuvanagiri']

In [100]:
# find max city length
## remove spaces

max([(len(x),x) for x in states if ' ' not in x])

(18, 'Medchal-Malkajgiri')

In [101]:
sorted([(len(x),x) for x in states if ' ' not in x ],reverse=True)[:5]

[(18, 'Medchal-Malkajgiri'),
 (12, 'Nagarkurnool'),
 (12, 'Mahabubnagar'),
 (11, 'Mahabubabad'),
 (11, 'Hanumakonda')]

In [94]:
# find average state lentgth
sum([len(x) for x in states])/50

8.44

In [96]:
min([len(set(x.lower())) for x in states])

3

In [102]:
# which state names have no character repetition? length of the lower-cased name
[x for x in states if len(x.lower()) == len(set(x.lower()))]

['Medak', 'Nirmal', 'Suryapet']

# Nested List Comprehension
A nested list comprehension doubles down on the concept of list comprehensions. Itâ€™s a way to combine not only one, but multiple for loops, if statements and functions into a single line of code. This becomes useful when you have a list of lists

In [114]:
# create matrix
n_l = [[j for j in range(1,3)] for i in range(0,3)]
n_l

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [117]:
# flatten 2D matrix
matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]


f_m = [j for i in matrix for j in i]
f_m

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [126]:
planets = [['Mercury', 'Venus', 'Earth'], ['Mars', 'Jupiter', 'Saturn'], ['Uranus', 'Neptune', 'Pluto']]
  
# Nested List comprehension with an if condition
flatten_planets = [planet for sublist in planets for planet in sublist if len(planet) < 6]
flatten_planets

['Venus', 'Earth', 'Mars', 'Pluto']

In [135]:
Numbers = [[1,2,3,4,5,6,7,8,9,10],
          [11,12,13,14,15,16,17,18,19,20]]
Result = []
for list in Numbers:
   Squares = [Number ** 2 for Number in list if Number % 2 == 0]
   Result.extend(Squares)
Result

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [138]:
# using itertools
!pip install itertools
import itertools
l1 = [2,4]
l2 = [5,6]
[l*2 for l in itertools.chain(*[l1,l2])]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement itertools (from versions: none)
ERROR: No matching distribution found for itertools

[4, 8, 10, 12]

In [140]:
# combination of list elements
l1 = [1,2]
l2 = [4,5]
c_l = []
for i in l1:
  for j in l2:
    c_l.append(tuple((i,j)))
print(c_l)

[(1, 4), (1, 5), (2, 4), (2, 5)]

In [17]:
# add all numbers in a list
n = [11,22,33]
lc = sum([i for i in n])
lc

66

In [33]:
# print numbers >2 and leass than 10
l = [3,13,5,7,8,2,1,3]
nl = [x for x in l if x>2 and x<10]
nl

[3, 5, 7, 8, 3]

In [45]:
# remove duplicates fro a list
if __name__ == '__main__':
  nums = [1,5,2,2,5,3,7]
  v = set()
  dup = [x for x in nums if x in v or (v.add(x) or False)]
  print(dup)

# using count function
d = {x for x in nums if nums.count(x)>1}
d

[2, 5]

{2, 5}

In [4]:
# cube of numbers
d = [x**3 for x in range(1,5)]
print(d)

[1, 8, 27, 64]

In [6]:
# print first letters
li = ["Asha","Ganesh","Charan","Ragchav"]
n_l = [i[0] for i in li]
print(n_l)

['A', 'G', 'C', 'R']

In [9]:
# List Comprehension Python vs For Loop in Python
l = [i for i in "Asha"]
l

['A', 's', 'h', 'a']

In [15]:
#list Comprehension to print even numbers
list = [1,2,3,4,5,6,7,8,9]
n = [x for x in list if x%2==0]
print(n)

[2, 4, 6, 8]

In [20]:
# print the values div by 2 and 5 with in the range of 0 to 50
n_l = [x for x in range(50) if x%2==0 if x%5==0]
n_l

[0, 10, 20, 30, 40]

In [25]:
# print given numbers are even or not
l = [30,44,53,67]
eo = [f"{x} is even" if x%2==0 else f"{x} is odd" for x in l]
eo

['30 is even', '44 is even', '53 is odd', '67 is odd']

In [28]:
# print table
t = [[x*y for y in range(1,11)] for x in range(4,7)]
print(t)

[[4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60]]

In [32]:
# normal for loop tables
for x in (4,5):
  for y in range(1,11):
    print(f"{x}*{y} = {x*y}")

4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

Using too much List comprehension in python will make your code unreadable.

Yes, list comprehension is very useful to write more beautiful and pythonic code. It is always recommended to use list comprehension in Python but maintain the code readability.

In [145]:
import numpy as np
nums = [1, 5, 2, 1, 4, 5]
 
nums[:] = np.unique(nums)
nums[:]

[1, 2, 4, 5]