## 1.  Create a sequence of numbers from 0 to 5, and print each item in the sequence:

In [ ]:

for i in range(0,6):
  print(i)

0
1
2
3
4
5

## 2. Print odd numebrs 10 below

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

## 3. Print reverse of numbers

In [ ]:
for i in range(10,0,-1):
  print(i,end = ' ')

10 9 8 7 6 5 4 3 2 1

# 4. Print reversed even numbers from 10

> Indented block




*   List item
*   List item

In [ ]:
for i in range(10,0,-2):
  print(i,end = " ")

10 8 6 4 2

## 5. Print 0 to *5* using end

In [ ]:
x = list(range(6))
for i in x:
  print(i,end = " ")

0 1 2 3 4 5

# 6. Print specific elements

In [ ]:
# access 5 th nnumber of range
x = range(1,10)
x[5]

6

## 7. range from 3 to 6

In [ ]:
range(10)[3:6]

range(3, 6)

## 8. inclusive range

In [ ]:
range(1,10+2,2)

range(1, 12, 2)

# 9.Print series pattern

In [ ]:
for i in range(4):
  for j in range(i):
    print(i, end = " ")
  print()

1
2 2
3 3 3

## 10. function with range and reversed

In [ ]:
for i in reversed(range(1,10)):
  print(i,end = " ")

9 8 7 6 5 4 3 2 1

# 11. print reversed even numbers from 20 to 1

In [ ]:
for i in reversed(range(0,20,2)):
  print(i,end = " ")

18 16 14 12 10 8 6 4 2 0

## 12. range function with len

In [ ]:
l = [10,20,30,40,50] 
for i in range(len(l)-1,-1,-1):
  print(l[i],end = " ")

50 40 30 20 10

## 13.range function with negative print order numbers

```
# This is formatted as code
```

In [ ]:
for i in range(-1,-11,-1):
  print(i,end=" ")

-1 -2 -3 -4 -5 -6 -7 -8 -9 -10

## 14. range function with negative and positive print order numbers

In [ ]:
for i in range(2,-5,-1):
  print(i,end = " ")

2 1 0 -1 -2 -3 -4

## 15. print a- z letters

In [ ]:
# alphabets - we will get error, if we use code like this
#for char in range ('a','z'):
#    print(char)
def ch(ch1,ch2):
  for i in range(ord(ch1),ord(ch2)+1):
    yield(i)
for l in ch('a','z'):
  print(chr(l),end=",")

a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,

In [ ]:
# or 
def main():
  for i in range(97,123):
    print(chr(i),end=' ')
main()

a b c d e f g h i j k l m n o p q r s t u v w x y z

## 16.  print sum of list of numbers using range

In [ ]:
l = [10,20,30]
for i in range(len(l)):
  print(l[i],end = " ")

print("\n")
sum = 0
for j in range(0,10):
  sum = sum+j
print("sum of numbers:",sum)

10 20 30

45

## 17. print 10 to 20 numbers.

In [ ]:
from itertools import chain
res = chain(range(5),range(10,20,2))
for i in res:
  print(i,end = " ")

0 1 2 3 4 10 12 14 16 18

## 18. Print 20 to 30 even numbers
*italicized text*

In [3]:
for number in range(20,30,2):
    print(number, end=" ")

20 22 24 26 28

## 19. Print 20 to 30 even numbers

In [4]:
l=["apple", "orange", 20]
for i in range(len(l)):
  print(l[i],end=" ")

apple orange 20